@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Economica:wght@700&display=swap');

.content {
  display: flex;
  margin: 1rem;
  flex-basis: 35%;
  padding: 1.5rem;
  text-align: left;
  text-decoration: none;
  border-radius: 20px;
  border: solid 0.2px rgba(128, 128, 128, 0.377);
  transition: color 0.15s ease, border-color 0.15s ease;
  list-style-type: none;
  box-shadow: 2px 2px black;
  background-image: url('/img/cardBg.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.content:hover {
  transform: scale(1.05);
  transition: 0.3s;
  cursor: pointer;
  border: solid 1px grey;
}

.contentText {
  margin-left: 50px;
}

.contentTitle {
  font-family: 'Anton', sans-serif;
  color: rgb(247, 77, 10);
  /* color: white; */
  text-transform: uppercase;
}

.contentBody {
  text-transform: uppercase;
  font-family: 'Economica', sans-serif;
  font-size: 24px;
  line-height: 14px;
  margin-bottom: 25px;
}

.contentImg {
  border-radius: 50%;
}

@media (max-width: 1000px) {
  .content {
    flex-basis: 95%;
  }
}
