.formReg {
  border-radius: 15%;
  padding: 30px 40px;
  background-color: rgb(245, 244, 244);
  box-shadow: 0 -17px 0px -10px rgb(247, 77, 10);
  margin-top: 40px;
}

.formReg h2 {
  letter-spacing: 4px;
  font-weight: bolder;
  color: rgb(247, 77, 10);
}
