.game_detail_container {
    padding: 80px 0;
}

.game_detail_btn_back {
    display: none !important;
}

.game_detail_h2 {
    color: inherit;
}

.game_detail_card_body {
    padding: 0 !important;
}

.game_detail_card_text {
    background-color: white;
}

@media (min-width: 992px) {
    .game_detail_header {
        position: relative;
    }

    .game_detail_btn_back {
        display: block !important;
        position: absolute;
        top: 0;
        left: 30px;
    }
}
