html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.game-rps-handsign img {
    width: 80px;
    height: 80px;
    padding: 15px;
}

.game-rps-handsign.selected img {
    background-color: red;
    border-radius: 50% 50%;
}

.game-rps-handsign.player-hand:hover {
    transform: scale(1.1) rotate(-10deg);
    cursor: pointer;
}

.game-rps-score {
    background-color: white;
    color: #343a40;
    font-size: 3rem;
    font-weight: 700;
    border-radius: 1rem;
}

.game-rps-score.win {
    background-color: #ffc107;
}
