@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* ========== Jumbotron ========== */
.landingBg {
  background-image: radial-gradient(
      189.96% 61.18% at 50% 38.82%,
      rgba(255, 181, 72, 0) 0%,
      rgba(52, 44, 29, 0.80319) 73.22%,
      #08090a 99.74%
    ),
    url(/img/landingBG1.jpg);
  background-size: cover;
  background-position: center center;
  border-radius: 0;
  height: 100vh;
}

.landing h1 {
  font-family: 'Anton', sans-serif;
  font-size: calc(1.9rem + 4vw);
  color: #ffffff;
  margin-top: 20vh;
}

.landing h3 {
  font: normal calc(0.6rem + 1vw) arial, sans-serif;
  color: #ffffff;
  font-weight: 400px;
  margin-top: 4%;
}

.landing button {
  font: bold 18px 'open_sansbold', arial, sans-serif;
  margin-top: 4%;
  padding: calc(0.5rem + 0.5vw) calc(1.525rem + 3.3vw);
}

.landing p {
  font: 2vh arial, sans-serif;
  color: #ffffff;
  margin-top: 12vh;
  margin-bottom: 0px;
  bottom: 0;
}

.landing svg {
  margin-top: 1px;
  color: #ffffff;
}
/* ========== End Jumbotron ========== */

/* ========== About ========== */
.landingAbout {
  color: white;
}

.landingAbout h6 {
  margin-top: 100px;
  font-family: 'Anton', sans-serif;
  font-size: calc(0.7rem + 1vw);
  letter-spacing: 2px;
}

.landingAbout h1 {
  font-family: 'Anton', sans-serif;
  font-size: 64px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
/* ========== End About ========== */

/* ========== Requirements ========== */

.landingSystem h1 {
  margin-top: 100px;
  font-family: 'Anton', sans-serif;
  font-size: calc(1rem + 6vw);
  letter-spacing: 3px;
  text-align: left;
  color: white;
}
.landingSystem table {
  margin-top: 50px;
}

.landingSystem h3 {
  font: normal 400 24px/28px arial, sans-serif;
  letter-spacing: 2px;
  color: rgba(255, 181, 72);
}

.landingSystem h4 {
  margin-top: 150px;
  float: right;
  font: normal 400 14px/22px arial, sans-serif;
  color: white;
  letter-spacing: 3px;
}

.landingSystem p {
  font: normal 400 calc(0.6rem + 0.5vw) 'open_sansregular', sans-serif;
  color: white;
}

.landingTableCustom th,
.landingTableCustom td,
.landingTableCustom thead th,
.landingTableCustom tbody + tbody {
  border: 1px solid rgba(255, 255, 255, 0.2);
}
/* ========== Requirements End ========== */

/* ========== Best Player ========== */
.landingQuotes {
  color: white;
}
.landingQuotesCardBg {
  background-color: rgba(255, 255, 255, 0.08) !important;
  padding-top: 20px;
  padding-left: 20px;
}

.landingQuotesCardImg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
  float: left;
}

.landingQuotesCardTwitter {
  float: right;
  opacity: 0.5;
}

.landingQuotes img {
  width: 60px;
  height: 60px;
  margin: -1px auto auto -7px;
}

.landingQuotesPname {
  margin-top: 10px;
  margin-bottom: 0px;
  font-family: 'Anton', sans-serif;
  font-size: calc(0.7rem + 0.5vw);
  letter-spacing: 2px;
  text-align: left;
  color: rgba(255, 181, 72);
  margin-left: 30px;
}

.landingQuotesPjob {
  margin-left: 30px;
  font: normal 400 calc(0.4rem + 0.5vw) / 24px arial, sans-serif;
  letter-spacing: 2px;
  text-align: left;
  color: rgba(255, 255, 255);
  opacity: 0.5;
}

p.landingQuotesCardText {
  margin-bottom: 10px;
  font: normal 400 12px/14px arial, sans-serif;
  letter-spacing: 2px;
  text-align: left;
  color: rgba(255, 255, 255);
}

.landingQuotesPdate {
  font-family: Arial;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
  letter-spacing: 2px;
  text-align: left;
  color: rgba(255, 255, 255);
  opacity: 0.5;
}

.landingQuotes button {
  font-family: 'open_sansbold', sans-serif;
  margin-top: 4%;
  padding: calc(0.5rem + 0.5vw) calc(1.525rem + 3.3vw);
}
/* ========== Best Player End ========== */
