@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.h1Text {
  font-family: 'Anton', sans-serif;
  font-size: calc(2.5rem + 4vw);
  color: rgb(247, 85, 10);
  text-shadow: 2px 2px rgb(223, 2, 2);
  text-align: center;
  margin-top: 10vh;
}

.container {
  display: flex;
  justify-content: center;
  max-width: 90vw;
  margin: auto;
  flex-wrap: wrap;
}
