@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Economica:wght@700&display=swap');

.container {
  display: flex;
  justify-content: center;
  height: 85vh;
}

.main {
  width: 90vw;
  display: flex;
  justify-content: center;
  margin: auto;
}

.contentImg {
  margin-top: 60px;
  flex-basis: 40%;
  display: flex;
  justify-content: center;
  /* margin: 20px; */
  align-items: center;
}

.contentData {
  margin-top: 80px;
  flex-basis: 40%;
}

.userProfileImg {
  border-radius: 50%;
  border: solid 2px black;
}

.userName {
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  font-size: 15vh;
  color: rgb(219, 21, 54);
}

.userScore {
  margin-top: 10px;
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  font-size: 10vh;
  color: rgb(219, 21, 54);
}

.userEmail,
.userAddress {
  text-transform: uppercase;
  font-family: 'Economica', sans-serif;
  font-size: 7vh;
}

.editButton {
  text-transform: uppercase;
  font-family: 'Economica', sans-serif;
  font-size: 24px;
}

@media (max-width: 950px) {
  .main {
    flex-direction: column;
  }

  .contentImg {
    margin-top: 100px;
    flex-basis: 40%;
  }

  .contentData {
    margin-top: 40px;
    flex-basis: 40%;
    text-align: center;
  }

  .userName {
    font-size: 8vh;
  }

  .userScore {
    font-size: 6vh;
  }

  .userEmail,
  .userAddress {
    font-size: 4vh;
  }
}
