@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.Reg {
  font-family: 'Anton', sans-serif;
  font-size: calc(2rem + 3vw);
  font-weight: bold;
  color: rgb(247, 117, 10);
  text-shadow: 1px 1px rgb(223, 2, 2);
  line-height: normal;
  margin-top: 50px;
}
