.game_rps_container {
    padding-top: 80px;
}

.game_rps_card {
    border-radius: 20px !important;
}

.game_rps_listgroup {
    text-align: center;
    gap: 1.5rem;
}

.game_rps_listitem {
    background-color: transparent !important;
    border: none !important;
}
